.body {
    display: flex;
    background-image: url('../../images/body-background.jpg');
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: normal;
    justify-content: center;
    align-items: flex-end;
}

.image-desc {
    color: rgb(128, 128, 255);
    font-size: 4em;
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
    padding: .2em;
}